@using NovelNookBookStore.Models.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = " | Manage Users";
}

<h1 class="mb-3">Manage Novel Nook Users</h1>

<h4 class="mt-3">
    <a asp-action="Register" asp-controller="Account" asp-area="Identity" class="btn btn-secondary">Add a User</a>
</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username </th>
            <th>Roles</th>
            <td></td>
            <td></td>
           
            
        
           
        </tr>
    </thead>

    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="5">There are no user accounts</td>
            </tr>
        }
        else
        {
            @foreach (ApplicationUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    
                  <td>
                    @foreach (var roleName in user.RoleNames)
                     {
                     @roleName <br />
                     }
                  </td>

                  
                    <td class="text-end">
                        @foreach (var role in Model.Roles)
                        {
                            if (user.RoleNames.Contains(role.Name))
                            {
                                <form method="post" asp-action="RemoveFromRole" asp-route-id="@user.Id" asp-route-role="@role.Name">
                                    <button type="submit" class="btn btn-danger btn-sm mb-1">
                                       Remove from @role.Name 
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToRole" asp-route-id="@user.Id" asp-route-role="@role.Name">
                                    <button type="submit" class="btn btn-secondary btn-sm mb-1">
                                        Add to @role.Name
                                    </button>
                                </form>
                            }
                        }
                    </td>

                    <td class="text-end">
                        <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger btn-sm text-sm">Delete User</button>
                        </form>
                    </td>

                  @*   <td class="text-end">
                        @if (!user.RoleNames.Contains("Admin"))
                        {
                            <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-secondary btn-sm">Add to Admin</button>
                            </form>
                        }
                    </td> *@
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mt-2">Manage Roles</h1>

<form method="post" asp-action="CreateRole">
    <div class="row mb-5 mt-5">
        <label for="rolename" class="col-sm-1 col-form-label col-form-label-sm">Role Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control-sm" id="rolename" name="rolename" placeholder="Role Name" />
            <button type="submit" class="btn btn-primary mt-3">Create Role</button>
        </div>
    </div>
</form>

@if (Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-info">Create Admin Role</button>
    </form>
}
else
{
    <div class="col-6">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Role</th>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td class="text-end">
                            <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                                <button type="submit" class="btn btn-danger">Delete Role</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}













































@* @using NovelNookBookStore.Models.ViewModels
@model UserViewModel
@{
    ViewData["Title"] = " | Manage Users";
}

<h1 class="mb-3">Manage Novel Nook Users</h1>

<h4 class="mt-3">
    <a asp-action="Register" asp-controller="Account" asp-area="Identity" class="btn btn-secondary">Add a User</a>
</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username </th>
            <th>Roles</th>
            
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </thead>

    <tbody>
        @if(Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="5">There are no user accounts</td>
            </tr>
        }
        else
        {
            @foreach(ApplicationUser user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
               
                <td>
                    @foreach(string roleName in user.RoleNames)
                    {
                        <div>@roleName</div>
                    }
                </td>
                <td class="text-end">
                    <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-danger btn-sm text-sm">Delete User</button>
                    </form>
                </td>

                    <td class="text-end">
                    @if(!user.RoleNames.Contains("Admin"))
                    {
                        
                        <form method="post" asp-action="AddToAdmin" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-secondary btn-sm">Add to Admin</button>
                        </form>
                       
                    }
                    </td>

                    <td class="text-end">
                        <form method="post" asp-action="RemoveFromAdmin" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger btn-sm">Remove from Admin</button>
                        </form>

                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<h1 class="mt-2">Manage Roles</h1>
<form method="post" asp-action="CreateRole">
    <div class="row mb-5 mt-5">
        <label for="rolename" class="col-sm-1 col-form-label col-form-label-sm">Role Name</label>
        <div class="col-sm-3">
            <input type="text" class="form-control-sm" id="rolename" name="rolename" placeholder="Role Name" />
            <button type="submit" class="btn btn-primary mt-3">Create Role</button>
        </div>
    </div>
</form>



@* <h4 class="mt-3">
    <a asp-action="Register" asp-controller="Account" asp-area="Identity" class="btn btn-secondary">Add a Role</a>
</h4> *@

@* @if(Model.Roles.Count() == 0)
{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-info">Create Admin Role</button>
    </form>
} 
 else
{ 

    <div class="col-6">
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Role</th>
                <td></td>
            </tr>
        </thead>

        <tbody>
            @foreach(var role in Model.Roles)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td class="text-end">
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-danger">Delete Role</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
    </div>
    }
 


 *@ 