@model IEnumerable<GearheadAutoParts.Models.Product>
@{
    ViewBag.Title = "Product Manager";
}

<h1>Product Manager</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quanity</th>
            <th>Category ID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach(var product in Model)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.ProductDescShort</td>
            <td>@product.ProductDescLong</td>
            <td>
                <img src="~/">
            </td>
            <td>@($"{product.ProductPrice:C}")</td>
            <td>@product.ProductQty?.ToString("0")</td>
            <td>@product.Category?.CategoryName</td>
            <td>
                <a asp-action="AddEdit" asp-route-id="@product.ProductId" class="btn btn-primary">Edit</a>
                </td>
                <td>
                <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
             </td>
        </tr>
     }
    <tbody>
</table>
<a class="btn btn-primary" asp-action="AddEdit">Add New Product</a>

