@model NovelNook.Models.BookShelfViewModel 

@* @model IEnumerable<NovelNook.Models.BookShelfEntry> *@

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <img src="~/images/BookBanner.jpg" alt="book banner" action="" class="colorBanner img-fluid" />
    <h1 class="pt-2">My Digital Bookshelf</h1>

</div>

<p>
    <a asp-action="Create">Create New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Author
            </th>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Added Date
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.User) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookShelfEntries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-controller="BookShelfEntries" asp-action="Edit" asp-route-id="@item.Id" asp-route-slug="@item.Slug">Edit</a> 
                <a asp-controller="BookShelfEntries" asp-action="Details" asp-route-id="@item.Id" asp-route-slug="@item.Slug">Details</a> 
                <a asp-controller="BookShelfEntries" asp-action="Delete" asp-route-id="@item.Id" asp-route-slug="@item.Slug">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<h2 class="mt-5">Recommended Reading</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(var rec in Model.BookRecommendations)
    {
        <div class="col">
            <div class="card h-100">
                <div class="recCard card-body">
                    <h4 class="card-title">@rec.Title</h4>
                    <h5 class="card-subtitle mb-2">@rec.Author</h5>
                    <p class="card-text">@rec.Description</p>

                    <form asp-action="AddBook" method="post" class="mt-auto">
                        <input type="hidden" name="Title" value="@rec.Title" />
                        <input type="hidden" name="Author" value="@rec.Author" />
                        <button type="submit" class="btn btn-secondary w-100">Add To BookShelf</button>
                    </form>

                </div>
            </div>
        </div>
    }
</div>
